.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fan-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: App-logo-spin infinite 20s linear;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #61dafb;
  top: 50%;
  left: 50%;
}

.rectangle{
  width: 50px;
  height: 150px;
  background-color: #61dafb;
  margin: 20px 0;
}
.rectangle1{
  width: 150px;
  height: 50px;
  background-color: #61dafb;
  margin: 0px 20px;
}
.all-in-one{
  display: flex;
}